#Python Intro

In [ ]:
print('Hello World')

Hello World

#Indentation and Whitespace

The indentation use of whitespace in each line of python is very important to the way it runs. In general, it makes the program more readable but is also used to manage program flow control.

Here is an example with an if statement:

In [ ]:
if(1>2):
  print("One less than two")

print("Test")

Test

#Variables

In python, variables are created in memory when a value is assigned to it. There is no special command needed to specify the datatype, python is able to tell when type by context.

In [ ]:
x = 'test'

print(x)

test

In the above example, there are a few things to note. The "name" of the variable x. The value assigned to the variable x is the text "test". All text in python is stored as a string data type. The variable is passed to the print function, which prints its value.

Python has many datatypes but here are some commonly used ones:
  - Text Type:	str
  - Numeric Types:	int, float
  - Sequence Types:	list, tuple
  - Mapping Type:	dict
  - Set Types:	set
  - Boolean Type:	bool

  Variables can be overwritted to completely different data types or cast as one temporarily if needed:

In [ ]:
x = 1
if type(x) == int:
  print(x)
if type(str(x)) == str:
  print(type(x))

1
<class 'int'>

Python is also case sensitive:

In [ ]:
x = 5
X = "FIVE"
print(x)
print(X)

5
FIVE

DataType Examples:

In [ ]:
#Ints, integers can be any number without decimals
x = 1
y = -654767432
z = 5874925748923574839574839
print(type(x),type(y),type(x))

<class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Floats are any number, with decimal places
x = 1.0
y =- -3.14159
z = 10.74538927045783901477489302
print(type(x),type(y),type(x))


#Casting from float to int, python will choose the number before the decimal
print(int(z))

<class 'float'> <class 'float'> <class 'float'>
10

In [ ]:

#Strings hold text, and you can make multiline strings with three quotes
string1 = 'text'
print(string1)
string2 = '''text1
text2
text3
'''
print(string2)

text
text1
text2
text3

In [ ]:

#Strings are can also be thought of as arrays of characters, and can be interacted with as such
chars = 'string'
print(chars[0])
print(chars[0:3])
#You can do operations with strings such as concatenation or checking
print(chars+" "+string1)
if string1 in string2:
  print(string1 + " in string2")

s
str
string text
text in string2

In [ ]:
#Booleans can represtent only 2 values, True or False
print(1<2)
print(1>2)

test = True
c=0
while test:
  print("Inside Loop: "+str(test))
  if c==2:
    test=False
  c+=1
print("Outside Loop: "+ str(test))

True
False
Inside Loop: True
Inside Loop: True
Inside Loop: True
Outside Loop: False

In [ ]:
x = None
print(type(x))
print(x)

<class 'NoneType'>
None

#Lists

Lists are an essential part of Python and allow you to store multiple items within a single variable. They have methods that allow for the removal and addition of items as well as length and typechecking. They can also easily be iterated through for operations.

In [ ]:
list1 = ['item1', 'item2', 'item3']
list1 = list()
print(list1)

#Lists can also contain members of different data types
list2 = [1, "two", False]
print(list2)
list2.remove(1)
print(list2)
list2.append(3)
print(list2)
list2[0] = 'one'
print(list2)

print(list2.index(False))

['item1', 'item2', 'item3']
[1, 'two', False]
['two', False]
['two', False, 3]
['one', False, 3]
1

Some things about lists and other "Collection" variables.

  - List is a collection which is ordered and changeable. Allows duplicate members.
  - Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
  - Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
  - Dictionary is a collection which is ordered and changeable. No duplicate members.

In [ ]:
#Dictionaries allow for associations to be stored as key,item pairs
dict1={
    'item1':1,
    'item2':2,
    'item3':3
}
# dict1 = dict()
print(dict1['item3'])

3

# Operators

In [ ]:
# Addition
print('Addition:', 5 + 3)

# Subtraction
print('Subtraction:', 5 - 3)

# Multiplication
print('Multiplication:', 5 * 3)

# Division
print('Division:', 5 / 3)

# Modulus
print('Modulus:', 5 % 3)

# Exponentiation
print('Exponentiation:', 5 ** 3)

# Floor division
print('Floor Division:', 7 // 3)

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Modulus: 2
Exponentiation: 125
Floor Division: 2

In [ ]:
# Equal
print('Equal:', 5 == 3)

# Not equal
print('Not equal:', 5 != 3)

# Greater than
print('Greater than:', 5 > 3)

# Less than
print('Less than:', 5 < 3)

# Greater than or equal to
print('Greater than or equal to:', 5 >= 3)

# Less than or equal to
print('Less than or equal to:', 5 <= 3)

Equal: False
Not equal: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

In [ ]:
# Assign
x = 5
print('Assign:', x)

# Add and assign
x += 3
print('Add and assign:', x)

# Subtract and assign
x -= 3
print('Subtract and assign:', x)

# Multiply and assign
x *= 3
print('Multiply and assign:', x)

# Divide and assign
x /= 3
print('Divide and assign:', x)

# Modulus and assign
x %= 3
print('Modulus and assign:', x)

# Exponent and assign
x **= 3
print('Exponent and assign:', x)

# Floor divide and assign
x //= 3
print('Floor divide and assign:', x)

Assign: 5
Add and assign: 8
Subtract and assign: 5
Multiply and assign: 15
Divide and assign: 5.0
Modulus and assign: 2.0
Exponent and assign: 8.0
Floor divide and assign: 2.0

In [ ]:
# and
# print('and:', True && False)
print('and:', True and False)

# or
print('or:', True or False)

# not
print('not:', not True)

# in
lst = ['a','b','c']
print('d' in lst)
print('in:', 'a' in 'apple')

# not in
print('not in:', 'b' not in 'apple')

and: False
or: True
not: False
False
in: True
not in: True

# Control Flow

Control flow refers to ways in which you as the programmer are able to decide how your lines of code are executed and when.

Your main tools for this are:
- Loops
  - For Loops
  - While Loops
- Conditional Statements
  - If/Else
  - Assert

  ## Loops

In [ ]:
c=0
while (c < 5):
  print(c)
  c+=1

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)

list1 = ['yes','yes','no','no','yes']
for word in list1:
  if word == "yes":
    print(word)

for i in range(len(list1)):
  print(list1[i])

0
1
2
3
4
yes
yes
yes
yes
yes
no
no
yes

In [ ]:
dict1={
    'item1':1,
    'item2':2,
    'item3':3
}
print(type(dict1.items()))
for key,val in dict1.items():
  print(key,val)
print('\n')
for key in dict1.keys():
  if "3" in key:
    print(dict1[key])

<class 'dict_items'>
item1 1
item2 2
item3 3


3

## Conditional Statements

In [ ]:
list1 = [1, 2, 3, 4, 5]
string= "Hello"
char = 'o'

if 1 < 2:
  print("1 is less than two")

if 1 > 2:
  print("Not possible")
else:
  print("Else!")

if 1 > 2:
  print('Not possible')
elif 1 > 0:
  print("Elif!")
else:
  print("Else!")

1 is less than two
Else!
Elif!

In [ ]:
x = 9
assert(x < 10)
print(x)

9

## Write a program to swap the first and last items of a list in python.

In [ ]:
list1 = [1,2,3,4,5]
# temp = list1[0]
# list1[0] = list1[-1]
# list1[-1] = temp
# print(list1.index(5))

## Write a program to swap any two elements in a list

In [ ]:
print(list1)
index1 = list1.index(2)
index2 = list1.index(4)
list1[index1],list1[index2] = list1[index2],list1[index1]
print(list1)

[1, 2, 3, 4, 5]
[1, 4, 3, 2, 5]

## Write a program to reverse the elements in a list

In [ ]:
list1 = [1,2,3,4,5]
c=len(list1)-1
list2=[]
while c >=0:
  list2.append(list1[c])
  c-=1
list1=list2
print(list1)

# for i in range(len(list1)):

[5, 4, 3, 2, 1]

## Write a program that will find the minimum of all values in the list without using the "min" function

In [ ]:
list1 = [5,2,3,4,1]
min=None
for number in list1:
  if min != None and min < number:
    continue
  else:
    min = number
print(min)

1

## Finally write a small program to sort the list from least to greatest